.container2 {
    position: relative;
    width: 500px;
    height: 200px;
    color: #c9d44b; 
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

switch {
    position: absolute;
    top: 50px;
    left: 50px;
}

.slider {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 80px;
    height: 40px;
    border-radius: 50px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    right: 0px;
    bottom: 0px;
    background: #fff;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 0 3px gray;
}

#audio_setting2:checked+.slider {
    background: #c9d44b;
}

#audio_setting2:not(:checked)+.slider {
    background: gray;
}

#audio_setting2:not(:checked)+.slider:before {
    right: 40px;
}

label {
    position: absolute;
}

.material-icons {
    font-size: 46px;
}

.container1 .audio_icon {
    position: absolute;
    top: 48px;
}

.container1 #audio_icon_off {
    left: 45px;
}

.container1 #audio_icon_on {
    left: 190px;
}

.container2 .slider {
    left: 150px;
}

.container2 .slider:before {
    line-height: 40px;
    text-align: center;
}

.container2 #audio_setting2:checked+.slider:before {
    content: "ON";
}

.container2 #audio_setting2:not(:checked)+.slider:before {
    content: "OFF";
    color: gray;
}

.container2 .sound_label {
    position: absolute;
    top: 58px;
    left: 50px;
    font-size: 1.8em;
    color: #ffffff;
}

.setBack{
    margin-left: 33%;
}

.switch2{
    margin-left: 18%;
}

.settingsTitle{
    margin-left: 18%;
}