body{
    max-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #abcae0, #2481bf);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

h1{
    font-family: 'Fuzzy Bubbles', cursive;
    color: #ffffff;
    font-size: 4.25rem;
}

#start-count {
    font-size: 250px;
    color: #232d6a;
    font-weight: 10000;
    letter-spacing: 0.2px;
    font-family: 'Fuzzy Bubbles', cursive;
    margin: 20% 0 23% 45%;
}

.intro, #gameOver, #settings {
    background-image: linear-gradient(to bottom, #abcae0, #2481bf);
    background-size: cover;
    background-repeat: no-repeat;
    position:fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-align-items: center;
            align-items: center;
    
}

.menu{
    display: grid;
    grid-gap: 6px;
    margin-top: -2%;
    
}

button{
    width: 110px;
    height: 60px;
    color: aliceblue;
    background-color: #5ba4d4;
    border: none;
    border-radius: 15px;
    margin-left: 28%;
    box-shadow: 0 0 40px 40px #c9d44b inset, 0 0 0 0 #c9d44b;
    transition: all 150ms ease-in-out;
    
    &:hover {
          box-shadow: 0 0 10px 0 #c9d44b inset, 0 0 10px 4px #c9d44b;
    }
}

.learn-text{
    margin-left: 32.5%;
}

.learnBack{
    margin: 3% 0 5% 45%;
}

.title-mobile { display: none; }

@media all and (max-width: 70em) {
    .title-mobile { 
        display: block; 
    }
}

.title-desktop { display: none; }

@media all and (min-width: 70em) {
    .title-desktop { 
        display: block; 
    }
}


.button-yellow {
    color: rgba(51,51,51,.8);
    border-color: rgba(51,51,51,.8); 
}
.button-yellow:hover,
.button-yellow:active {
    color: rgb(235,255,20); 
    background: rgb(51,51,51); 
}

.button-blue,
.button-purple,
.button-red,
.button-cyan,
.button-pink,
.button-green,
.button-orange {
    color: rgb(255,255,255);
    border-color: rgb(255,255,255); 
}

.button-blue:hover,
.button-blue:active   { color: rgb( 39, 20,255); }

.button-purple:hover,
.button-purple:active { color: rgb(189, 96,255); }

.button-red:hover,
.button-red:active    { color: rgb(255, 39, 20); }

.button-cyan:hover,
.button-cyan:active { color: rgb( 20,235,255); }

.button-pink:hover,
.button-pink:active   { color: rgb(255,138,187); }

.button-green:hover,
.button-green:active  { color: rgb( 20,189, 34); }

.button-orange:hover,
.button-orange:active { color: rgb(255,171, 53); }

.button-blue:hover,
.button-blue:active,
.button-purple:hover,
.button-purple:active,
.button-red:hover,
.button-red:active,
.button-cyan:hover,
.button-cyan:active,
.button-pink:hover,
.button-pink:active,
.button-green:hover,
.button-green:active,
.button-orange:hover,
.button-orange:active { background: rgb(255,255,255); }


/*------------------------------------*\
    Balloons
\*------------------------------------*/

.balloon {
    position:absolute;
    bottom: -5%;
    opacity: .9;
    border-radius: 50%;
    width: 23px;
    height: 30px;
    cursor: crosshair; 
    z-index: 2;
}

/* crap attempt at balloon neck */
.balloon:after {
    background-color: rgba(226, 224, 241, 0.57) !important;
    position: relative;
    background: inherit;
    top: 30px;
    left: 50%;
    display: block;
    content: '';
    height: 1rem;
    width: .15rem;
}

.balloon:hover {
    font-size: 2.1em;
    opacity: .7;
}
.balloon:active { cursor: crosshair; } 



/*------------------------------------*\
    Starting Ballons - 1 iteration
\*------------------------------------*/
.balloon:nth-child(1) {
    background: rgb(235,255,20);
    bottom: 55%;
    left: 50%;
    -webkit-animation: once-a 8s 1 ease-in forwards;
            animation: once-a 8s 1 ease-in forwards;    
}
@-webkit-keyframes once-a {
    0% { bottom: 55%;
        -webkit-transform: translateX(0) rotate(8deg); 
    }
    20% { -webkit-transform: rotate(4deg); }
    50% { -webkit-transform: translateX( 5px)  rotate(-12deg); }
    75% { -webkit-transform: translateX(-2px) rotate(10deg); }
    100% { bottom: 110%;
        -webkit-transform: rotate(-8deg); 
    }
}
@keyframes once-a {
  0% { bottom: 55%;
        -webkit-transform: translateX(0) rotate(8deg); 
    }
    20% { -webkit-transform: rotate(4deg);}
    50% { -webkit-transform: translateX(5px) rotate(-12deg); }
    75% { -webkit-transform: translateX(-2px) rotate(10deg); }
    100% { bottom: 110%;
        -webkit-transform: rotate(-8deg); 
    }
}

.balloon:nth-child(2) {
    background: rgb(39,20,255);
    bottom: 35%;
    left: 20%;
    -webkit-animation: once-b 8s 1 ease-in forwards;
            animation: once-b 8s 1 ease-in forwards; 
}
@-webkit-keyframes once-b {
    0% {  bottom: 35%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
    20% { -webkit-transform: rotate(-8deg); }
    50% { -webkit-transform: translateX(-10px) rotate(10deg); }
    75% { -webkit-transform: translateX(5px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(8deg); 
    }
}
@keyframes once-b {
    0% {  bottom: 35%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
    20% { -webkit-transform: rotate(-8deg); }
    50% { -webkit-transform: translateX(-10px) rotate(10deg); }
    75% { -webkit-transform: translateX(5px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(8deg); 
    }
}

.balloon:nth-child(3) {
    background: rgb(189,96,255);
    bottom: 15%;
    left: 30%;
    -webkit-animation: once-c 11s 1 ease-in forwards;
            animation: once-c 11s 1 ease-in forwards;
}
@-webkit-keyframes once-c {
    0% {  bottom: 15%;
        -webkit-transform:translateX(0) rotate(0deg); 
    }
    20% { -webkit-transform: translateX(-4px) rotate(4deg); }
    50% { -webkit-transform: translateX(8px) rotate(-8deg); }
    75% { -webkit-transform: translateX(-10px) rotate(10deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
}

@keyframes once-c {
    0% {  bottom: 15%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
    20% { -webkit-transform: translateX(-4px) rotate(4deg); }
    50% { -webkit-transform: translateX(8px) rotate(-8deg); }
    75% { -webkit-transform: translateX(-10px) rotate(10deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
}

.balloon:nth-child(4) {
    background:  rgb(255,39,20);
    bottom: 5%;
    left: 55%;
    -webkit-animation: once-d 14s 1 ease-in forwards;
            animation: once-d 14s 1 ease-in forwards;
}
@-webkit-keyframes once-d {
    0% {  bottom: 5%;
        -webkit-transform: translateX(0) rotate(-4deg); 
    }
    40% { -webkit-transform: translateX(-8px) rotate(10deg); }
    85% { -webkit-transform: translateX(10px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0); 
    }
}
@keyframes once-d {
    0% {  bottom: 5%;
        -webkit-transform:translateX(0) rotate(-4deg); 
    }
    40% { -webkit-transform: translateX(-8px) rotate(10deg); }
    85% { -webkit-transform: translateX(10px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0); 
    }
}

.balloon:nth-child(5) {
    background:  rgb(20,235,255);
    bottom: 10%;
    left: 75%;
    -webkit-animation: once-e 10s 1 ease-in forwards;
            animation: once-e 10s 1 ease-in forwards;
}
@-webkit-keyframes once-e {
    0% {  bottom: 10%;
        -webkit-transform: translateX(0) rotate(-4deg); 
    }
    40% { -webkit-transform: translateX(-8px) rotate(10deg); }
    85% { -webkit-transform: translateX(10px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0); 
    }
}
@keyframes once-e {
    0% {  bottom: 10%;
        -webkit-transform: translateX(0) rotate(-4deg); 
    }
    40% { -webkit-transform: translateX(-8px) rotate(10deg); }
    85% { -webkit-transform: translateX(10px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0); 
    }
}


/*------------------------------------*\
        Infinite Ballons
\*------------------------------------*/

.balloon:nth-child(6) {
    background: rgb(255,138,187);
    bottom: -10%;
    left: 45%;
    -webkit-animation: balloon 13s 2s infinite ease-in;
            animation: balloon 13s 2s infinite ease-in;
}
@-webkit-keyframes balloon {
    0% {  
        bottom: -10%;
        -webkit-transform: translateX(0) rotate(8deg); 
    }
    20% { -webkit-transform: rotate(4deg); }
    50% { -webkit-transform: translateX(5px) rotate(-12deg); }
    75% { -webkit-transform: translateX(-2px) rotate(10deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: rotate(-8deg); 
    }
}
@keyframes balloon {
    0% {  
        bottom: -10%;
        -webkit-transform: translateX(0) rotate(8deg); 
    }
    20% { -webkit-transform: rotate(4deg); }
    50% { -webkit-transform: translateX(5px) rotate(-12deg); }
    75% { -webkit-transform: translateX(-2px) rotate(10deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: rotate(-8deg); 
    }
}


.balloon:nth-child(7) {
    background: rgb(255,171,53);
    bottom: -10%;
    left: 20%;
    -webkit-animation: balloon2 15s 3.2s infinite ease-in;
            animation: balloon2 15s 3.2s infinite ease-in; 
}
@-webkit-keyframes balloon2 {
    0% {  bottom: -10%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
    20% { -webkit-transform: rotate(-8deg); }
    50% { -webkit-transform: translateX(-10px) rotate(10deg); }
    75% { -webkit-transform: translateX(5px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(8deg); 
    }
}
@keyframes balloon2 {
    0% {  bottom: -10%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
    20% { -webkit-transform: rotate(-8deg); }
    50% { -webkit-transform: translateX(-10px) rotate(10deg); }
    75% { -webkit-transform: translateX(5px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(8deg); 
    }
}


.balloon:nth-child(8){
    background: rgb(39,20,255);
    bottom: -10%;
    left: 75%;
    -webkit-animation: balloon3 19s 10s infinite ease-in;
            animation: balloon3 19s 10s infinite ease-in;
}
@-webkit-keyframes balloon3 {
    0% {  bottom: -10%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
    20% { -webkit-transform: translateX(-4px) rotate(4deg); }
    50% { -webkit-transform: translateX(8px) rotate(-8deg); }
    75% { -webkit-transform: translateX(-10px) rotate(10deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
}
@keyframes balloon3 {
    0% {  bottom: -10%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
    20% { -webkit-transform: translateX(-4px) rotate(4deg); }
    50% { -webkit-transform: translateX(8px) rotate(-8deg); }
    75% { -webkit-transform: translateX(-10px) rotate(10deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
}


.balloon:nth-child(9) {
    background: rgb(235,255,20);
    bottom: -10%;
    left: 55%;
    -webkit-animation: balloon4 12s 6s infinite ease-in;
            animation: balloon4 12s 6s infinite ease-in;
}
@-webkit-keyframes balloon4 {
    0% {  bottom: -10%;
        -webkit-transform: translateX(0) rotate(-4deg); 
    }
    40% { -webkit-transform: translateX(-8px) rotate(10deg); }
    85% { -webkit-transform: translateX(10px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0); 
    }
}
@keyframes balloon4 {
    0% {  bottom: -10%;
        -webkit-transform: translateX(0) rotate(-4deg); 
    }
    40% { -webkit-transform: translateX(-8px) rotate(10deg); }
    85% { -webkit-transform: translateX(10px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0); 
    }
}

.balloon:nth-child(10) {
    background: rgb(189,96,255);
    bottom: -10%;
    left: 65%;
    -webkit-animation: balloon4 12s 10s infinite ease-in;
            animation: balloon4 12s 10s infinite ease-in;
}

.balloon:nth-child(11) {
    background: rgb(20,189,34);
    bottom: -10%;
    left: 85%;
    -webkit-animation: balloon2 12s 4s infinite ease-in;
            animation: balloon2 12s 4s infinite ease-in;
}

.balloon:nth-child(12) {
    background: rgb(20,235,255);
    bottom: -10%;
    left: 10%;
    -webkit-animation: balloon3 14s 7s infinite ease-in;
            animation: balloon3 14s 7s infinite ease-in;
}

.balloon:nth-child(13) {
    background: rgb(255,39,20);
    bottom: -10%;
    left: 30%;
    -webkit-animation: balloon 13s 10.5s infinite ease-in;
            animation: balloon 13s 10.5s infinite ease-in;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .5s;
            transition: opacity .5s;
}

